:root {
    --main-lighter: white;
    --main-light: #f6f5f3;
    --main-dark: #7c69a4;
    --main-darker: black;
    --text-header: #ff9614;
    --name-dessert: #4e3969;
    --text-category: #b5bac8;
}


 *{
    border: 0.5px dashed black;
}

body {
    margin: 0;
    box-sizing: border-box;
}

/* UTILITY */

.show {
    display: none;
}

.btn {
    background-color: var(--main-lighter);
    border: none;
    border-radius: 50px;
    padding: 0.5rem 0.75rem;
    box-shadow: 2px 2px 2px grey;
}

.fa-facebook {
    color: blue;
}
.fa-twitter {
    color: rgb(74, 184, 228);
}
.fa-instagram {
    color: purple;
}
.fa-pinterest {
    color: red;
}
.fa-youtube {
    color: red;
}


.row {
    display: flex;
    flex-basis: auto;  
    flex-direction: column;
}
.col {
    width: auto;
    flex-basis: auto;
}
.col-1 {
    width: calc(100% / 12 * 1);
}
.col-2 {
    width: calc(100% / 12 * 2);
}
.col-3 {
    width: calc(100% / 12 * 3);
}
.col-4 {
    width: calc(100% / 12 * 4);
}
.col-5 {
    width: calc(100% / 12 * 5);
}
.col-6 {
    width: 50%
}
.col-7 {
    width: calc(100% / 12 * 7);
}
.col-8 {
    width: calc(100% / 12 * 8);
}
.col-9 {
    width: calc(100% / 12 * 9);
}
.col-10 {
    width: calc(100% / 12 * 10);
}
.col-11 {
    width: calc(100% / 12 * 11);
}
.col-12 {
    width: 100%;
}

/* HEADER */
header {

    h1 {
    font-family: "Nerko One", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-header);
    font-size: 35px;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    }

}

/* MAIN */
main {
    background-color: var(--main-light);
    padding-top: 1rem;
    
}

.main-container {
    margin: 1rem 1rem 2rem 1rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.intro {
    
    p {
        font-size: 1rem;
        color: var(--text-category);
        letter-spacing: 0.25rem;
    }

    h2 {
        color: var(--name-dessert);
        font-size: ;
    }
    
    img {
        width: 100%;
    }

    h3 {
        padding-left: 1.5rem;
    }

    ul {
        padding-inline-start: 1.5rem;
        
        li {
            list-style: none;
            font-weight: 200;
            font-size: 0.75rem;
            padding-bottom: 0.5rem;
            vertical-align: middle;
            
            span {
                font-weight: bold;
            }
            
        }
    }
    
    .recap {
        background-color: var(--main-lighter);
    }

}

.social {
    
    .social-list {

    }

    ul {
        padding-inline-start: none;
        display: flex;
        justify-content: space-between;
        padding-left: 0;

        li {
            list-style: none;
            
        }
    }
}



/* META QUERY */

@media screen and (min-width: 768px){

    header {

        h1 {
            text-align: left;
            padding-left: 1rem;
        }
    }  
    
    main {
        padding-top: 1.5rem;
    }
    .main-container {
        min-width: 720px;
        width: 90%;
        margin: 0 auto;
        
    }

    .intro {
        ul {
            display: flex;
            flex-wrap: wrap;
    
            .col-m-4 {
                width: calc(100% / 12 * 4);
            }
        }
    
        .show {
            display: inline-block;
        }
    }
    
    .social {

        .btn-m {
            padding-left: 3.5rem;
            padding-right: 3.5rem;
        }
    }
}


@media screen and (min-width: 992px){

    header {

        h1 {
            text-align: left;
            padding-left: 1rem;
        }
    }

    main {
        padding-top: 1.5rem;
    }
    
    .main-container {
        margin: 0 auto;
        min-width: 944px;
        width: 70%;
    }
    .row {
        flex-direction: row;
    }

    ul {
        display: block;
        
        li {
            display:block;
        }

        .col-l-12 {
            width: 100%
        }
    }

    .show {
        display: inline-block;
    }

    .col-l-8 {
        width: calc(100% / 12 * 8);
    }

    .col-l-4 {
        width: calc(100% / 12 * 4);
    }

    .social {

        .show {
            display: inline-block;
        }

        .btn-m {
            padding-left: 2rem;
            padding-right: 2rem;
            font-size: 12px;
            font-weight: bold;
        }
    }
}