:root {
    --main-lighter: white;
    --main-light: #f6f5f3;
    --main-dark: #7c69a4;
    --main-darker: black;
    --text-header: #ff9614;
    --name-dessert: #4e3969;
}


* {
    border: 0.5px dashed black;
}

body {
    margin: 0;
    box-sizing: border-box;
}

/* UTILITY */

.row {
    display: flex;
    flex-basis: auto;  
}
.col {
    width: auto;
    flex-basis: auto;
}
.col-1 {
    width: calc(100% / 12 * 1);
}
.col-2 {
    width: calc(100% / 12 * 2);
}
.col-3 {
    width: calc(100% / 12 * 3);
}
.col-4 {
    width: calc(100% / 12 * 4);
}
.col-5 {
    width: calc(100% / 12 * 5);
}
.col-6 {
    width: 50%
}
.col-7 {
    width: calc(100% / 12 * 7);
}
.col-8 {
    width: calc(100% / 12 * 8);
}
.col-9 {
    width: calc(100% / 12 * 9);
}
.col-10 {
    width: calc(100% / 12 * 10);
}
.col-11 {
    width: calc(100% / 12 * 11);
}
.col-12 {
    width: 100%;
}

/* HEADER */
header {

    h1 {
    font-family: "Nerko One", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-header);
    font-size: 35px;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    }

}

/* MAIN */
main {
    background-color: var(--main-light);
}

.main-container {
    margin: 1rem 1rem 2rem 1rem;
}




/* META QUERY */

@media screen and (min-width: 768px){

    header {

        h1 {
            text-align: left;
            padding-left: 1rem;
        }
    }  
    
}


@media screen and (min-width: 992px){

    header {

        h1 {
            text-align: left;
            padding-left: 1rem;
        }
    }
     
}